:root {
    --main-heading: clamp(40px, 10vw, 2.8rem);
    --sub-heading-1: clamp(24px, 2vw, 2.5rem);
    --secondary-color: #27a7be;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: clamp(20px, 1.2vw, 5rem);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    /* background-color: var(--secondary-color); */
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    padding: 48px 32px;
    background: linear-gradient(170deg, var(--secondary-color) 70%, transparent 70%);
}

.pfp-wrapper {
    position: relative;
}

.pfp-wrapper > h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    background-color: #8d8d8d;
    font-size: var(--main-heading)
}

.about-me {
    background-color: #fff;
    padding: 100px 32px;
    letter-spacing: 0.5px;
    box-shadow: 0 0 2px 2px #00000028;
}

.about-me > * {
    padding: 12px 14px;
    margin: 12px 0;
}

.about-me > h2 {
    font-size: var(--sub-heading-1)
}

.social-links-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-links-wrapper > * {
    padding: 8px 8px;
    width: 42px;
}

.social-links-wrapper.last {
    justify-content: flex-start;
}

.social-links-wrapper > *:hover {
    cursor: pointer;
}

.main {
    padding: 48px 32px;
}

h2 {
    font-size: var(--sub-heading-1)
}

.works-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1.5rem;
    margin-top: 16px;
}

.work {
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
    transition: transform 300ms ease-out;
}

.work:hover {
    transform: scale(1.05);
}

.screenshot-wrapper {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screenshot-wrapper img {
    max-width: 100%;
}

.work-info {
    padding: 18px 12px 48px 12px;
}

.work-header {
    display: flex;
    align-items: center;
}

.one {
    background-color: chartreuse;
}

.two {
    background-color: chocolate;
}

.three {
    background-color: cornflowerblue;
}

.four {
    background-color: crimson;
}

.five {
    background-color: darkgoldenrod;
}

.six {
    background-color: slateblue;
}

.work-header {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.footer {
    background-color: var(--secondary-color);
    padding: 48px 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.call-to-action {
    /* margin-top: auto;
    margin-bottom: auto; */
    color: #fff;
}

.call-to-action > * {
    margin-top: 18px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        display: block;
        position: relative;
    }

    .header img {
        float: left;
        max-width: 350px;
        margin-right: 24px;
        margin-bottom: 12px;
    }

    .pfp-wrapper {
        position: static;
    }

    .pfp-wrapper > h1 {
        left: 300px;
        top: 50px;
        bottom: auto;
        right: auto;
        background: none;
    }

    .about-me {
        margin-top: 100px;
        margin-left: 80px;
        padding: 24px 32px;
    }

    .works-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .footer img {
        max-width: 280px;
    }
}

@media (max-width: 767px) {

    .header {
        grid-template-columns: 1fr;
        place-content: center;
        place-items: center;
        background: none;
        padding: 0;
    }

    .header img {
        max-width: 238px;
    }

    .header h1 {
        color: #000;
        background: none;
        position: static;
    }

    .header .pfp-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4px;
        padding: 24px 8px;
        position: relative;
        background: linear-gradient(170deg, var(--secondary-color) 70%, transparent 70%);
    }

    .about-me {
        padding: 24px 8px 0 8px;
    }

    .works-container {
        grid-template-columns: 1fr;
    }

    .footer {
        place-items: center;
        gap: 32px;
        grid-template-columns: 1fr;
    }

    .footer img {
        max-width: 250px;
    }

    .social-links-wrapper.last {
        justify-content: center;
    }
}